basic_examples/visual_recognition/sample_flow_v3.json
[{"id":"f470e8be.c67ae8","type":"tab","label":"Flow 1"},{"id":"b348a52d.6539a8","type":"http in","z":"f470e8be.c67ae8","name":"","url":"/reco","method":"get","swaggerDoc":"","x":95.5,"y":73.5,"wires":[["278d6716.af5a08"]]},{"id":"278d6716.af5a08","type":"switch","z":"f470e8be.c67ae8","name":"Check image param","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":361.5,"y":106.5,"wires":[["f374335.8df76d"],["dec57d68.c2b82"]]},{"id":"593c56df.4827e","type":"visual-recognition-v3","z":"f470e8be.c67ae8","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":689,"y":227,"wires":[["8e3d1438.e24f9"]]},{"id":"8e3d1438.e24f9","type":"template","z":"f470e8be.c67ae8","name":"Report","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Visual Recognition</h1>\n<p>Analyzed image: {{#result}}{{#images}}{{resolved_url}}<br/><img src=\"{{resolved_url}}\" height='100'/></p>{{/images}}{{/result}}\n<table border='1'>\n<thead><tr><th>Name</th><th>Score</th></tr></thead>\n{{#result}}\n{{#images}}\n{{#classifiers}}\n{{#classes}}\n<tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n{{/classes}}\n{{/classifiers}}\n{{/images}}\n{{/result}}\n</table>\n<form action=\"{{req._parsedUrl.pathname}}\">\n<input type=\"submit\" value=Try_again>\n</form>","x":752.5,"y":127.5,"wires":[["6a4c9e9d.e133a8","445858e2.c41988"]]},{"id":"6a4c9e9d.e133a8","type":"http response","z":"f470e8be.c67ae8","name":"HTTP Response","x":967.5,"y":55,"wires":[]},{"id":"f374335.8df76d","type":"template","z":"f470e8be.c67ae8","name":"Get Image URL","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"    <h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n    <h2>Select an image URL</h2>\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n    <img src=\"https://github.com/watson-developer-cloud/visual-recognition-nodejs/blob/v1/public/images/horses.jpg?raw=true\" height='100'/>\n     <img src=\"https://github.com/watson-developer-cloud/visual-recognition-nodejs/blob/v1/public/images/73388.jpg?raw=true\" height='100'/>\n     <img src=\"https://github.com/watson-developer-cloud/visual-recognition-nodejs/blob/v1/public/images/26537.jpg?raw=true\" height='100'/>\n     <img src=\"https://github.com/watson-developer-cloud/visual-recognition-nodejs/blob/v1/public/images/4068.jpg?raw=true\" height='100'/>\n        <br/>Copy above image location URL or enter any image URL:<br/>\n        <input type=\"text\" name=\"imageurl\"/>\n        <input type=\"submit\" value=\"Analyze\"/>\n    </form>\n\n","x":620.5,"y":67.5,"wires":[["6a4c9e9d.e133a8"]]},{"id":"dec57d68.c2b82","type":"change","z":"f470e8be.c67ae8","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":475.5,"y":218.5,"wires":[["593c56df.4827e"]]},{"id":"445858e2.c41988","type":"debug","z":"f470e8be.c67ae8","name":"","active":true,"console":"false","complete":"false","x":982.5,"y":212,"wires":[]}]
